<div class="forgotPassword-wrapper">
  <div class="wrapper d-flex flex-column flex-md-row">
    <div class="container-left">
      <h1 routerLink="/home">TODO APP</h1>
      <div class="form-title">
        <h2>Forgot your password ?</h2>
        <p>Enter your registered email below to receive code!</p>
      </div>

      <form
        [formGroup]="forgotPasswordForm"
        (ngSubmit)="forgotPasswordSubmit()"
      >
        <div class="form-group" [formGroup]="forgotPasswordForm">
          <label for="email" class="form-label">Email Address</label>
          <fa-icon [icon]="faEnvelope" class="left-icon"></fa-icon>

          <input
            type="text"
            class="form-input"
            id="email"
            placeholder="Enter Your Email"
            name="forgotPasswordEmail"
            formControlName="forgotPasswordEmail"
          />

          <fa-icon
            [icon]="faTimes"
            class="right-icon right-icon-error"
            *ngIf="submit && forgotPasswordEmail.invalid"
          ></fa-icon>
          <fa-icon
            [icon]="faCheck"
            class="right-icon right-icon-sucess"
            *ngIf="forgotPasswordEmail.valid"
          ></fa-icon>

          <div
            class="error-messages"
            *ngIf="forgotPasswordForm.dirty || submit"
          >
            <div
              class="invalid-text text-error"
              *ngIf="forgotPasswordEmail.hasError('required')"
            >
              <span>
                <fa-icon
                  [icon]="faTimesCircle"
                  class="errorMessage-icon"
                ></fa-icon>
              </span>
              Email is Required
            </div>

            <div
              class="invalid-text text-error"
              *ngIf="forgotPasswordEmail.hasError('customEmailCheck')"
            >
              <span>
                <fa-icon
                  [icon]="faTimesCircle"
                  class="errorMessage-icon"
                ></fa-icon>
              </span>
              Please Enter Valid Email
            </div>
          </div>
        </div>

        <div class="form-group">
          <app-button width="370px" text="Send"></app-button>
        </div>
      </form>
      <div class="form-footer">
        <a routerLink="/login" class="login-link"> Login</a>
      </div>
      <p *ngIf="submit && !emailVaid" class="message">Email doesnot exist</p>
    </div>
    <div class="container-right">
      <img
        src="../../../assets/img/forgotPassword.png"
        alt="Reset Password"
        width="270"
        height="270"
      />
    </div>
  </div>
</div>
