<div class="container-fluid dashboard-wrapper">
  <div class="row">
    <div class="col">
      <app-header></app-header>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <app-sub-header (openNewTask)="openCreateNewTask()"></app-sub-header>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <app-overview></app-overview>
    </div>
  </div>
  <div class="row">
    <div class="wrapper col d-block d-md-flex">
      <div class="col-12 col-md-6 col-xl-5">
        <app-today-task></app-today-task>
      </div>
      <div class="col-12 col-md-6 col-xl-7 mt-4 m-md-0">
        <app-list-names (openNewList)="openCreateNewList()"></app-list-names>
      </div>
    </div>
  </div>
</div>
