@use '../../scss/variables.scss' as *;
@use '../../scss/mixins.scss' as mixins;
header {
  width: 100%;
  background-color: white;
  padding: 40px;
  h1 {
    @include mixins.todo-header(false);
  }

  .header-user {
    margin: 0 14px;
    padding: 12px;
    border-radius: 50%;
    background-color: $color-primary-100;
    color: $color-primary;
    font-weight: 500;
  }

  [nz-button] {
    span {
      margin: 0 10px;
    }
    background-color: white;
    border: none;
    color: $color-text;
    font-weight: 400;
    font-size: 20px;
    box-shadow: none;
  }
}
