<div class="wrapper">
  <h1>Overview</h1>
  <div class="d-flex justify-content-between">
    <div class="d-flex justify-content-center overview-card">
      <img
        src="../../../assets/icons/todayTask.svg"
        alt="Today's Task"
        width="51"
        height="56"
      />
      <div class="card-content">
        <h3>Today's Task</h3>
        <h1>5</h1>
      </div>
    </div>
    <div class="d-flex justify-content-center overview-card">
      <img
        src="../../../assets/icons/todayTask.svg"
        alt="Today's Task"
        width="51"
        height="56"
      />
      <div class="card-content">
        <h3>Today's Task</h3>
        <h1>5</h1>
      </div>
    </div>
    <div class="d-flex justify-content-center overview-card">
      <img
        src="../../../assets/icons/todayTask.svg"
        alt="Today's Task"
        width="51"
        height="56"
      />
      <div class="card-content">
        <h3>Today's Task</h3>
        <h1>5</h1>
      </div>
    </div>
  </div>
</div>
