<div class="wrapper">
  <h1>Overview</h1>
  <div class="d-flex justify-content-center flex-wrap">
    <div class="d-flex justify-content-start overview-card">
      <img
        src="../../../assets/icons/todayTask.svg"
        alt="Today's Tasks"
        width="51"
        height="56"
        class="overview-img"
      />
      <div class="overview-content">
        <h3>Today's Tasks</h3>
        <h1>{{ getStats()["todayTask"] }}</h1>
      </div>
    </div>
    <div class="d-flex justify-content-start overview-card">
      <img
        src="../../../assets/icons/upcommingTask.svg"
        alt="Today's Task"
        width="51"
        height="56"
        class="overview-img"
      />
      <div class="overview-content">
        <h3>Upcomming Tasks</h3>
        <h1>{{ getStats()["upcommingTask"] }}</h1>
      </div>
    </div>
    <div class="d-flex justify-content-start overview-card">
      <img
        src="../../../assets/icons/overdue.svg"
        alt="Today's Task"
        width="51"
        height="56"
        class="overview-img"
      />
      <div class="overview-content">
        <h3>Overdue Tasks</h3>
        <h1>{{ getStats()["overdueTask"] }}</h1>
      </div>
    </div>
  </div>
</div>
