@use '../../scss/variables.scss' as *;
.wrapper {
  h1 {
    font-weight: 400;
  }
  .overview-card {
    background: #ffffff;
    border: 1px solid #e3e3e3;
    border-radius: 10px;
    padding: 36px;
    width: 310px;
    //  margin: 10px;

    .overview-img {
      width: 51px;
      height: 56px;
      margin-left: 10px;
    }
    .overview-content {
      display: inline;
      float: right;
      margin: 0 0 0 10px;

      h3 {
        font-weight: 400;
        color: $color-text-secondary;
        line-height: 20px;
      }
    }
  }
}
