/**
*
* Variables
*
*/

$color-primary: #be263b;

$color-primary-100: #fbdcd3;
$color-primary-500: #be253b;

$color-primary-600: #a31b3b;
$color-primary-700: #881339;

$color-heading: #000;

$color-text: #333;
$color-text-secondary: #828282;

$color-background: #fbfcfd;
$color-background-secondary: #e0e0e0;

$color-error: #eb5757;
$color-warning: #f2994a;
$color-sucess: #218653;
