<h1>Home</h1>
<nav>
  <a routerLink="">
    <button mat-raised-button color="primary">Home</button>
  </a>
  <a routerLink="/login">
    <button mat-raised-button color="accent">Login</button>
  </a>
  <a routerLink="/dashboard">
    <button mat-raised-button color="primary">Dashboard</button>
  </a>
  <a routerLink="/signUp">
    <button mat-raised-button color="accent">Sign Up</button>
  </a>
  <a routerLink="/resetPassword">
    <button mat-raised-button color="primary">Reset Password</button>
  </a>
  <button nz-button nzType="primary">Ng zorro Button</button>
</nav>
