@use '../../scss/variables.scss' as *;

.wrapper {
  height: 100vh;
  display: grid;
  place-items: center;
  background-color: $color-background;

  .login-container {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 16px 16px $color-background-secondary;

    padding-left: 12px;

    .form {
      margin: 16px 18px;

      h1 {
        font-weight: 550;
        color: $color-primary;
        letter-spacing: 6px;
        margin: 8px 8px 20px 0;
      }
      h2 {
        width: max-content;
        font-size: 24px;
      }

      form {
        .form-group {
          position: relative;
          .left-icon {
            position: absolute;
            color: $color-text-secondary;
            top: 42px;
            left: 16px;
            font-size: 14px;
          }
          .right-icon {
            position: absolute;
            color: $color-error;
            top: 44px;
            right: 16px;
            font-size: 14px;
          }
          .right-icon-password {
            color: $color-text-secondary;
          }
          .right-icon-sucess {
            color: $color-sucess;
          }
          .forgot-password {
            color: $color-primary;
            font-size: 13px;
            line-height: 21px;
            float: right;
            margin: 8px 0;
          }
          .invalid-text {
            color: $color-error;
            font-size: 13px;
            line-height: 21px;
            padding: 12px 0 0 2px;
          }
          .valid-text {
            color: $color-sucess;
            font-size: 13px;
            line-height: 21px;
            padding: 12px 0 0 24px;
          }
          //  .btn-login {
          //    padding: 12px 165px;
          //    margin-top: 2rem;
          //  }
        }
      }
      .login-footer {
        font-size: 13px;
        line-height: 21px;
        text-align: center;
        a {
          color: $color-primary;
        }
      }
    }

    .side-bar {
      content: "";
      border-radius: 0 8px 8px 0;
      background-color: $color-background;
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
  }
}
