<div class="wrapper">
  <div class="container">
    <div class="form">
      <h1>TODO APP</h1>
      <h2>Login to your account</h2>
      <p class="subtitle">Welcome back! please login to your account</p>
      <form [formGroup]="myForm" (ngSubmit)="formSubmit()">
        <div class="form-group">
          <label for="email" class="form-label">Email address</label>
          <input
            type="email"
            name="email"
            class="form-input"
            id="email"
            required
            formControlName="email"
            [(ngModel)]="model.email"
          />
          <div [hidden]="email.valid || email.pristine" class="invalid-text">
            Invalid Input
          </div>
          <div *ngIf="submit && formValid" class="invalid-text">
            Incorrect Email Address !
          </div>
        </div>
        <div class="form-group">
          <label for="password" class="form-label">Password</label>
          <input
            type="password"
            name="password"
            class="form-input"
            id="password"
            required
            formControlName="password"
            [(ngModel)]="model.password"
          />
          <div>
            <a class="forgot-password" href="/login">Forgot Password?</a>
          </div>

          <div
            [hidden]="password.valid || password.pristine"
            class="invalid-text"
          >
            Invalid Input
          </div>
          <div *ngIf="submit && formValid" class="invalid-text">
            Incorrect Password !
          </div>
        </div>
        <div class="form-group">
          <button
            type="submit"
            class="btn btn-login"
            [disabled]="myForm.invalid"
          >
            Login
          </button>
          <div *ngIf="submit && !formValid" class="valid-text">Form Valid</div>
        </div>
      </form>
    </div>
    <div class="side-bar"></div>
  </div>
  <!-- {{ myForm.value | json }} -->
</div>
