@use '../../scss/variables.scss' as *;
@use '../../scss/mixins.scss' as mixins;

.login-wrapper {
  @include mixins.center-container();
  .wrapper {
    .container-left {
      h1 {
        @include mixins.todo-header();
      }
      .form-title {
        @include mixins.form-title();
      }
      form {
        @include mixins.form-style();
        .form-group {
          position: relative;
          .form-input {
            padding: 16px 16px 16px 36px;
          }
          .left-icon {
            position: absolute;
            color: $color-text-secondary;
            top: 42px;
            left: 16px;
            font-size: 14px;
          }
          .right-icon {
            position: absolute;
            color: $color-error;
            top: 44px;
            right: 16px;
            font-size: 14px;
          }
          .right-icon-password {
            color: $color-text-secondary;
          }
          .right-icon-sucess {
            color: $color-sucess;
          }
          .forgot-password {
            color: $color-primary;
            font-size: 13px;
            line-height: 21px;
            float: right;
            margin: 8px 0;
          }
          .invalid-text {
            color: $color-error;
            font-size: 13px;
            line-height: 21px;
            padding: 12px 0 0 2px;
          }
          .valid-text {
            color: $color-sucess;
            font-size: 13px;
            line-height: 21px;
            padding: 12px 0 0 24px;
          }
          //  .btn-login {
          //    padding: 12px 165px;
          //    margin-top: 2rem;
          //  }
        }
      }
      .form-footer {
        @include mixins.form-footer();
      }
      .login-footer {
        font-size: 13px;
        line-height: 21px;
        text-align: center;
        a {
          color: $color-primary;
        }
      }
    }

    .container-right {
      img {
        margin: 0 40px;
      }
    }
  }
}
