@use '../../scss/variables.scss' as *;
@use '../../scss/mixins.scss';
.newTask-wrapper {
  padding: 12px;
  .newTask-header {
    position: relative;

    span {
      position: absolute;
      top: 0;
      right: 0;
    }
  }
  .newTask-form {
    @include mixins.form-style();
    .form-group {
      .form-input {
        width: 100%;
      }
      .form-select {
        .form-select-option {
          height: 50px;
        }
      }
      .form-select:focus {
        background-color: white;
        outline: none;
        border: none;
        box-shadow: 0 0 0 1px $color-primary;
      }
    }
  }
}

.md-datepicker-calendar-pane {
  z-index: 2000;
}

.new-task-btn {
  background-color: $color-primary;
  color: white;
}

.new-task-btn-alt {
  color: $color-primary;
  border: solid 1px $color-primary;
}
