<div class="resetPassword-wrapper">
  <div class="wrapper d-flex flex-column flex-md-row">
    <div class="container-left">
      <h1 routerLink="/home">TODO APP</h1>
      <div class="form-title">
        <h2>Reset Password</h2>
        <p>Welcome back! please login to your account</p>
      </div>

      <form [formGroup]="resetPasswordForm" (ngSubmit)="resetPasswordSubmit()">
        <div class="form-group">
          <label for="password" class="form-label">New Password</label>
          <fa-icon [icon]="faLock" class="left-icon"></fa-icon>
          <input
            [type]="showPassword ? 'text' : 'password'"
            class="form-input"
            id="password"
            placeholder="Enter Your New Password"
            name="password"
            formControlName="password"
          />
          <fa-icon
            [icon]="!showPassword ? faEye : faEyeSlash"
            class="right-icon"
            (click)="showHidePassword()"
          ></fa-icon>

          <div class="error-messages" *ngIf="password.dirty">
            <div
              class="invalid-text text-error"
              *ngIf="password.hasError('required')"
            >
              <span>
                <fa-icon
                  [icon]="faTimesCircle"
                  class="errorMessage-icon"
                ></fa-icon>
              </span>
              Password is Required
            </div>

            <div
              class="invalid-text"
              [class]="
                password.errors?.minlength ? 'text-error' : 'text-sucess'
              "
              *ngIf="!password.hasError('required')"
            >
              <span>
                <fa-icon
                  [icon]="
                    password.errors?.minlength ? faTimesCircle : faCheckCircle
                  "
                  class="errorMessage-icon"
                ></fa-icon>
              </span>
              Must Be atleast 8 characters!
            </div>
            <div
              class="invalid-text"
              [class]="
                password.errors?.containsNumber ? 'text-error' : 'text-sucess'
              "
              *ngIf="!password.hasError('required')"
            >
              <span>
                <fa-icon
                  [icon]="
                    password.errors?.containsNumber
                      ? faTimesCircle
                      : faCheckCircle
                  "
                  class="errorMessage-icon"
                ></fa-icon>
              </span>
              Must contain atleast 1 number!
            </div>
            <div
              class="invalid-text"
              [class]="
                password.errors?.containsUppercase
                  ? 'text-error'
                  : 'text-sucess'
              "
              *ngIf="!password.hasError('required')"
            >
              <span>
                <fa-icon
                  [icon]="
                    password.errors?.containsUppercase
                      ? faTimesCircle
                      : faCheckCircle
                  "
                  class="errorMessage-icon"
                ></fa-icon>
              </span>
              Must contain atleast one uppercase character!
            </div>
            <div
              class="invalid-text"
              [class]="
                password.errors?.containsLowercase
                  ? 'text-error'
                  : 'text-sucess'
              "
              *ngIf="!password.hasError('required')"
            >
              <span>
                <fa-icon
                  [icon]="
                    password.errors?.containsLowercase
                      ? faTimesCircle
                      : faCheckCircle
                  "
                  class="errorMessage-icon"
                ></fa-icon>
              </span>
              Must contain atleast one lowercase character!
            </div>
            <div
              class="invalid-text"
              [class]="
                password.errors?.containsSpecialCharacter
                  ? 'text-error'
                  : 'text-sucess'
              "
              *ngIf="!password.hasError('required')"
            >
              <span>
                <fa-icon
                  [icon]="
                    password.errors?.containsSpecialCharacter
                      ? faTimesCircle
                      : faCheckCircle
                  "
                  class="errorMessage-icon"
                ></fa-icon>
              </span>
              Must contain atleast one special character!
            </div>
          </div>
        </div>

        <div class="form-group">
          <label for="password" class="form-label">Confirm Password</label>
          <fa-icon [icon]="faLock" class="left-icon"></fa-icon>

          <input
            [type]="showConfirmPassword ? 'text' : 'password'"
            class="form-input"
            id="password"
            placeholder="Confirm Your Password"
            name="confirmPassword"
            formControlName="confirmPassword"
          />
          <fa-icon
            [icon]="!showConfirmPassword ? faEye : faEyeSlash"
            class="right-icon"
            (click)="showHideConfirmPassword()"
          ></fa-icon>

          <div class="error-messages" *ngIf="confirmPassword.dirty">
            <div
              class="invalid-text"
              [class]="
                resetPasswordForm.errors?.notSame ? 'text-error' : 'text-sucess'
              "
            >
              <span>
                <fa-icon
                  [icon]="
                    resetPasswordForm.errors?.notSame
                      ? faTimesCircle
                      : faCheckCircle
                  "
                  class="errorMessage-icon"
                ></fa-icon>
              </span>
              Password Must Match
            </div>
          </div>
        </div>
        <div class="form-group">
          <app-button width="370px" text="Reset Password"></app-button>
        </div>
      </form>
      <p class="form-footer">
        Not Registered yet? <a href="#">Create New account</a>
      </p>
    </div>
    <div class="container-right">
      <img
        src="../../../assets/img/resetPassword.png"
        alt="Reset Password"
        width="270"
        height="270"
      />
    </div>
  </div>
</div>
